openapi: 3.1.0
info:
  title: Venly Finance API -release 1
  description: |
    REST API for Venly Finance platform - Release 1 functionality:
    - Party management (Individuals & Organisations)
    - Account management with party association
    - Wallet generation on Base blockchain
    - Virtual bank account assignment for global payments (EUR SEPA)
    - Fiat-to-crypto payment links (pay-in)
    - Account-to-account transfers

    Include the token in all API requests:
    ```
    Authorization: Bearer {access_token}
    ```

    ## Idempotency

    For POST requests, include an `Idempotency-Key` header to safely retry requests:
    ```
    Idempotency-Key: {unique-uuid}
    ```

  version: 1.0.0-release1
  contact:
    name: Venly Support
    email: support@venly.io
    url: https://docs.venlyfinance.com
  license:
    name: Proprietary
  x-logo:
    url: https://venlyfinance.com/logo.png
  x-security-contact: security@venly.io

servers:
  - url: https://api.venlyfinance.com/api/v1
    description: Production
  - url: https://api.staging.venlyfinance.com/api/v1
    description: Staging
  - url: https://amlerlvohpsgbowdfeiz.supabase.co/functions/v1
    description: Sandbox (test data)

security:
  - BearerAuth: []

tags:
  - name: Parties
    description: Party management (Individuals & Organisations)
  - name: Accounts
    description: Account management with party association
  - name: Wallets
    description: Blockchain wallet operations
  - name: Virtual Bank Accounts
    description: Virtual bank account payment references for global payments
  - name: Fiat-to-crypto Payment Links
    description: Fiat-to-crypto Payment Links
  - name: Account-to-Account Transfers
    description: Transfer funds between accounts

paths:
  # ==================== PARTY ENDPOINTS ====================

  /parties:
    get:
      tags: [Parties]
      summary: List all parties
      description: |
        **Step 1 of the Finance API Flow**
        
        Retrieves all parties (Individuals and Organisations) in your system. Parties are the foundation of the Finance API - they represent the people or organizations that will hold accounts.
        
        **Use this endpoint to:**
        - View all registered customers and organizations
        - Search for existing parties before creating accounts
        - Audit party records and their KYC/KYB status
        
        **Next Step:** Use the party ID to create an account.
      operationId: listParties
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/SortOn'
        - $ref: '#/components/parameters/SortOrder'
        - name: partyType
          in: query
          description: Filter by party type
          schema:
            $ref: '#/components/schemas/PartyType'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PartyStatus'
        - name: externalId
          in: query
          description: Filter by external ID (exact match)
          schema:
            type: string
      responses:
        '200':
          description: List of parties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Parties]
      summary: Create a new party
      description: |
        **Step 1 of the Finance API Flow**
        
        Creates a new party (Individual or Organisation). This is the first step in onboarding a customer or organization to the Finance platform.
        
        **Party Types:**
        - **INDIVIDUAL**: Natural persons. Requires firstName, lastName.
        - **ORGANISATION**: Companies or businesses. Requires name, optionally vatNumber.
        
        **Next Step:** Use the returned party ID to create an account.
      operationId: createParty
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartyRequest'
      responses:
        '201':
          description: Party created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /parties/{partyId}:
    get:
      tags: [Parties]
      summary: Get party details
      description: |
        Retrieves detailed information about a specific party by ID.
        
        **Returns:**
        - Complete party information including personal/organization details
        - Current KYC/KYB status
        - Address information
        - Party status (ACTIVE, SUSPENDED, BLOCKED)
      operationId: getParty
      parameters:
        - $ref: '#/components/parameters/PartyId'
      responses:
        '200':
          description: Party details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Parties]
      summary: Update party details
      description: |
        Updates an existing party's information. Only provided fields will be updated.
        
        **For Individuals:** Can update firstName, lastName, and address
        **For Organisations:** Can update name, vatNumber, and address
        
        **Note:** Cannot change partyType after creation. KYC/KYB status is managed separately.
      operationId: updateParty
      parameters:
        - $ref: '#/components/parameters/PartyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartyRequest'
      responses:
        '200':
          description: Party updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Parties]
      summary: Delete party
      description: |
        Permanently deletes a party. Only allowed when:
        - Party has no associated accounts
        - Party is not in a blocked status
      operationId: deleteParty
      parameters:
        - $ref: '#/components/parameters/PartyId'
      responses:
        '204':
          description: Party deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /parties/{partyId}/accounts:
    get:
      tags: [Parties]
      summary: List accounts for a party
      operationId: listPartyAccounts
      parameters:
        - $ref: '#/components/parameters/PartyId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of accounts associated with the party
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==================== ACCOUNT ENDPOINTS ====================

  /accounts:
    get:
      tags: [Accounts]
      summary: List all accounts
      operationId: listAccounts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/SortOn'
        - $ref: '#/components/parameters/SortOrder'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AccountStatus'
        - name: partyId
          in: query
          description: Filter by party ID
          schema:
            type: string
            format: uuid
        - name: externalId
          in: query
          description: Filter by external ID (exact match)
          schema:
            type: string
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Accounts]
      summary: Create a new account
      description: |
        Creates a new account. Optionally auto-creates a wallet on the specified chain.

        **Party Association:**
        - Provide `partyId` to associate with an existing party
        - Provide `party` object to create a new party inline (Individual or Organisation)
        - The party will be associated as ACCOUNT_HOLDER

        When creating a party inline, specify `partyType: INDIVIDUAL` with firstName/lastName,
        or `partyType: ORGANISATION` with name/vatNumber.
      operationId: createAccount
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}:
    get:
      tags: [Accounts]
      summary: Get account details
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Accounts]
      summary: Update account details
      operationId: updateAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description: Account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Accounts]
      summary: Delete account
      description: |
        Permanently deletes an account. Only allowed when:
        - All wallet balances are zero
        - No pending transactions
        - Account is not suspended/blocked
      operationId: deleteAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '204':
          description: Account deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/suspend:
    post:
      tags: [Accounts]
      summary: Suspend account
      operationId: suspendAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Account suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/reactivate:
    post:
      tags: [Accounts]
      summary: Reactivate suspended account
      operationId: reactivateAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account reactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/party-roles:
    get:
      tags: [Accounts]
      summary: List party roles for an account
      description: Returns all parties associated with this account and their roles.
      operationId: listAccountPartyRoles
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of party roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyRoleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Accounts]
      summary: Add a party to an account
      description: |
        Associates an existing party with this account in a specific role.
        A party can only have one role per account.
      operationId: addPartyRole
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartyRoleRequest'
      responses:
        '201':
          description: Party role added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyRoleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/party-roles/{partyId}:
    delete:
      tags: [Accounts]
      summary: Remove a party from an account
      description: |
        Removes a party's role from this account.
        Cannot remove the last ACCOUNT_HOLDER from an account.
      operationId: removePartyRole
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: partyId
          in: path
          required: true
          description: The party ID to remove from the account
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Party role removed
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==================== WALLET ENDPOINTS ====================

  /accounts/{accountId}/wallets:
    get:
      tags: [Wallets]
      summary: List wallets for an account
      operationId: listWallets
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: chain
          in: query
          schema:
            $ref: '#/components/schemas/BlockchainNetwork'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WalletStatus'
      responses:
        '200':
          description: List of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Wallets]
      summary: Create a wallet
      operationId: createWallet
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '201':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWalletResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/wallets/{walletId}:
    get:
      tags: [Wallets]
      summary: Get wallet details
      operationId: getWallet
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/WalletId'
      responses:
        '200':
          description: Wallet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleWalletResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==================== VIRTUAL BANK ACCOUNT ENDPOINTS ====================

  /accounts/{accountId}/virtual-bank-accounts:
    get:
      tags: [Virtual Bank Accounts]
      summary: List virtual bank accounts
      operationId: listVirtualBankAccounts
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: bankAccountType
          in: query
          schema:
            $ref: '#/components/schemas/BankAccountType'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/VirtualBankAccountStatus'
      responses:
        '200':
          description: List of virtual bank accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualBankAccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Virtual Bank Accounts]
      summary: Create a virtual bank account
      description: |
        Creates a virtual bank account for the specified account.

        The client provides a display name, the fiat currency to receive (inCurrency), and the
        target cryptocurrency for conversion. The backend will provision the appropriate bank
        account based on the currency.

        **Release 1**: Only EUR (EUR_SEPA) is supported.

        **Future releases**: USD_WIRE, USD_ACH, USD_SWIFT, GBP_FPS, GBP_CHAPS, and other payment rails.
      operationId: createVirtualBankAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualBankAccountRequest'
      responses:
        '201':
          description: Virtual bank account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVirtualBankAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /accounts/{accountId}/virtual-bank-accounts/{virtualBankAccountId}:
    get:
      tags: [Virtual Bank Accounts]
      summary: Get virtual bank account details
      operationId: getVirtualBankAccount
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VirtualBankAccountId'
      responses:
        '200':
          description: Virtual bank account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVirtualBankAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==================== PAYMENT LINK ENDPOINTS ====================

  /accounts/{accountId}/fiat-to-crypto/payment-links:
    post:
      tags: [Fiat-to-crypto Payment Links]
      summary: Create a fiat-to-crypto payment link
      operationId: createPaymentLink
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
      responses:
        '201':
          description: Payment link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentLinkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          description: Unsupported currency pair or KYC required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==================== ACCOUNT-TO-ACCOUNT TRANSFER ENDPOINTS ====================

  /account-to-account-transfers:
    get:
      tags:
        - Account-to-Account Transfers
      summary: List account-to-account transfers
      operationId: listAccountToAccountTransfers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: sourceAccountId
          in: query
          schema:
            type: string
            format: uuid
        - name: destinationAccountId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of account-to-account transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToAccountTransferListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Account-to-Account Transfers
      summary: Create an account-to-account transfer
      operationId: createAccountToAccountTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountToAccountTransferRequest'
      responses:
        '201':
          description: Account-to-account transfer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountToAccountTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PartyId:
      name: partyId
      in: path
      required: true
      description: Unique party identifier
      schema:
        type: string
        format: uuid

    AccountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    WalletId:
      name: walletId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    VirtualBankAccountId:
      name: virtualBankAccountId
      in: path
      required: true
      description: Unique virtual bank account identifier
      schema:
        type: string
        format: uuid

    Page:
      name: page
      in: query
      description: Page number (1-based indexing)
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
      example: 1

    Size:
      name: size
      in: query
      description: Number of items per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        minimum: 1
      example: 100

    SortOn:
      name: sortOn
      in: query
      description: Field to sort by
      required: false
      schema:
        type: string
        default: createdAt

    SortOrder:
      name: sortOrder
      in: query
      description: Sort direction
      required: false
      schema:
        type: string
        default: ASC
        enum:
          - ASC
          - DESC

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Unique key for idempotent requests (UUID recommended)
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: Request validation failed (400)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: VALIDATION_ERROR
                message: "The request contains invalid parameters."

    Unauthorized:
      description: Authentication required or failed (401)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: UNAUTHORIZED
                message: "Missing or invalid authentication token."

    Forbidden:
      description: User lacks required permissions (403)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: FORBIDDEN
                message: "User does not have permission to access this resource."

    NotFound:
      description: Resource not found (404)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: NOT_FOUND
                message: "The requested resource was not found."

    MethodNotAllowed:
      description: HTTP method not supported (405)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: METHOD_NOT_SUPPORTED
                message: "HttpMethod is not supported. Supported methods are [GET, POST]."

    Conflict:
      description: Resource conflict (409)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: CONFLICT
                message: "A resource with the specified identifier already exists."

    UnsupportedMediaType:
      description: Request body is not valid JSON or wrong media type (415)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: INVALID_MEDIA_TYPE
                message: "Request must be application/json."

    TooManyRequests:
      description: Rate limit exceeded (429)
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: RATE_LIMITED
                message: "Too many requests. Please retry after the specified time."

    InternalServerError:
      description: Unexpected server error (500)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
              - code: INTERNAL_SERVER_ERROR
                message: "An unexpected error occurred. Please try again later."

  schemas:
    # ==================== ENUMS ====================

    PartyType:
      type: string
      description: Type of party
      enum: [INDIVIDUAL, ORGANISATION]

    PartyStatus:
      type: string
      description: Status of a party
      enum: [ACTIVE, SUSPENDED, BLOCKED]

    PartyRoleType:
      type: string
      description: Role type for party-account relationship
      enum: [ACCOUNT_HOLDER]

    PartyRoleStatus:
      type: string
      description: Status of a party role
      enum: [ACTIVE, INACTIVE]

    AccountStatus:
      type: string
      enum: [ACTIVE, SUSPENDED, BLOCKED]

    WalletStatus:
      type: string
      enum: [ACTIVE, SUSPENDED, BLOCKED]

    VirtualBankAccountStatus:
      type: string
      enum: [ACTIVE, EXPIRED, SUSPENDED]

    BlockchainNetwork:
      type: string
      enum: [BASE]

    Cryptocurrency:
      type: string
      enum: [USDC, EURC, USDT]

    FiatCurrency:
      type: string
      description: Supported fiat currencies. For virtual bank accounts in Release 1, only EUR is supported.
      enum: [EUR, GBP, USD]

    KycStatus:
      type: string
      enum: [PENDING, IN_PROGRESS, VERIFIED, REJECTED, MANUAL_REVIEW]

    KycLevel:
      type: string
      enum: [NONE, BASIC, STANDARD, ENHANCED, FULL]

    PaymentLinkStatus:
      type: string
      enum:
        - CREATED
        - PENDING_PAYMENT
        - PAYMENT_RECEIVED
        - CONVERTING
        - MINTING
        - COMPLETED
        - FAILED
        - EXPIRED
        - CANCELLED
        - REFUNDING
        - REFUNDED

    # ==================== BASE SCHEMAS ====================

    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the request was successful

    Pagination:
      type: object
      description: Pagination metadata
      properties:
        pageNumber:
          type: integer
          format: int32
          description: Current page number (1-based)
        pageSize:
          type: integer
          format: int32
          description: Number of items per page
        numberOfElements:
          type: integer
          format: int64
          description: Total number of items across all pages
        numberOfPages:
          type: integer
          format: int32
          description: Total number of pages
        hasNextPage:
          type: boolean
          description: Whether there's a next page
        hasPreviousPage:
          type: boolean
          description: Whether there's a previous page

    Sort:
      type: object
      description: Sort configuration
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/SortOrderItem'

    SortOrderItem:
      type: object
      properties:
        weight:
          type: integer
          format: int32
        property:
          type: string
        direction:
          type: string
          enum:
            - ASC
            - DESC

    ErrorResponse:
      type: object
      description: Error response wrapper
      properties:
        success:
          type: boolean
          description: Indicates whether the request was successful
          example: false
        errors:
          type: array
          description: List of errors that occurred
          items:
            $ref: '#/components/schemas/ErrorBody'
        result:
          type: object
          nullable: true
          description: Present only if success == true. Set to null or omitted when success == false.

    ErrorBody:
      type: object
      description: Individual error details
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Human-readable error message
          example: "The request contains invalid parameters."
        traceCode:
          type: string
          description: Unique identifier for tracing the error in logs

    # ==================== PARTY SCHEMAS ====================

    Party:
      type: object
      description: |
        A party represents an Individual or Organisation that can hold accounts.
        The partyType field determines which additional fields are present.
      properties:
        id:
          type: string
          format: uuid
        externalId:
          type: string
          description: External reference ID
        partyType:
          $ref: '#/components/schemas/PartyType'
        status:
          $ref: '#/components/schemas/PartyStatus'
        # Individual fields
        firstName:
          type: string
          description: First name (Individual only)
        lastName:
          type: string
          description: Last name (Individual only)
        kycStatus:
          $ref: '#/components/schemas/KycStatus'
        # Organisation fields
        name:
          type: string
          description: Organisation name (Organisation only)
        vatNumber:
          type: string
          description: VAT number (Organisation only)
        kybStatus:
          $ref: '#/components/schemas/KycStatus'
        # Common fields
        address:
          $ref: '#/components/schemas/Address'

    CreatePartyRequest:
      type: object
      required: [partyType]
      discriminator:
        propertyName: partyType
        mapping:
          INDIVIDUAL: '#/components/schemas/CreateIndividualPartyRequest'
          ORGANISATION: '#/components/schemas/CreateOrganisationPartyRequest'
      properties:
        partyType:
          $ref: '#/components/schemas/PartyType'
        externalId:
          type: string
          maxLength: 255
          description: Optional external reference ID
        address:
          $ref: '#/components/schemas/Address'
      oneOf:
        - $ref: '#/components/schemas/CreateIndividualPartyRequest'
        - $ref: '#/components/schemas/CreateOrganisationPartyRequest'

    CreateIndividualPartyRequest:
      allOf:
        - type: object
          required:
            - partyType
            - firstName
            - lastName
          properties:
            partyType:
              type: string
              enum: [INDIVIDUAL]
            externalId:
              type: string
              maxLength: 255
            firstName:
              type: string
              maxLength: 100
            lastName:
              type: string
              maxLength: 100
            address:
              $ref: '#/components/schemas/Address'
      example:
        partyType: INDIVIDUAL
        firstName: "John"
        lastName: "Doe"
        address:
          addressLine1: "123 Main Street"
          city: "Amsterdam"
          postalCode: "1012AB"
          country: "NL"

    CreateOrganisationPartyRequest:
      allOf:
        - type: object
          required:
            - partyType
            - name
          properties:
            partyType:
              type: string
              enum: [ORGANISATION]
            externalId:
              type: string
              maxLength: 255
            name:
              type: string
              maxLength: 255
              description: Organisation name
            vatNumber:
              type: string
              maxLength: 50
            address:
              $ref: '#/components/schemas/Address'
      example:
        partyType: ORGANISATION
        name: "Acme Corporation"
        vatNumber: "NL123456789B01"
        address:
          addressLine1: "456 Business Park"
          city: "Rotterdam"
          postalCode: "3011AA"
          country: "NL"

    UpdatePartyRequest:
      type: object
      description: |
        Update party details. Only fields applicable to the party type can be updated.
        For Individuals: firstName, lastName, address
        For Organisations: name, vatNumber, address
      properties:
        firstName:
          type: string
          maxLength: 100
          description: First name (Individual only)
        lastName:
          type: string
          maxLength: 100
          description: Last name (Individual only)
        name:
          type: string
          maxLength: 255
          description: Organisation name (Organisation only)
        vatNumber:
          type: string
          maxLength: 50
          description: VAT number (Organisation only)
        address:
          $ref: '#/components/schemas/Address'

    SinglePartyResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Party'

    PartyListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/Party'
            pagination:
              $ref: '#/components/schemas/Pagination'

    # ==================== PARTY ROLE SCHEMAS ====================

    PartyRole:
      type: object
      description: Represents the relationship between a Party and an Account
      properties:
        partyId:
          type: string
          format: uuid
        roleType:
          $ref: '#/components/schemas/PartyRoleType'
        status:
          $ref: '#/components/schemas/PartyRoleStatus'
        party:
          $ref: '#/components/schemas/Party'

    AddPartyRoleRequest:
      type: object
      required: [partyId, roleType]
      properties:
        partyId:
          type: string
          format: uuid
          description: ID of the party to add to the account
        roleType:
          $ref: '#/components/schemas/PartyRoleType'

    SinglePartyRoleResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/PartyRole'

    PartyRoleListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/PartyRole'

    # ==================== ACCOUNT SCHEMAS ====================

    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        externalId:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        partyRoles:
          type: array
          description: Parties associated with this account and their roles
          items:
            $ref: '#/components/schemas/PartyRole'

    CreateAccountRequest:
      type: object
      required: [externalId]
      description: |
        Create a new account. You can either:
        - Reference an existing party by providing `partyId`
        - Create a new party inline by providing `party` object with full party details

        If neither is provided, an account without a party association will be created.
      properties:
        externalId:
          type: string
          maxLength: 255
          description: Unique external reference for this account
        partyId:
          type: string
          format: uuid
          description: ID of an existing party to associate as account holder
        party:
          $ref: '#/components/schemas/CreatePartyRequest'
        autoCreateWallet:
          type: boolean
          default: true
          description: Automatically create a wallet for this account
        defaultChain:
          $ref: '#/components/schemas/BlockchainNetwork'
      example:
        externalId: "user-12345"
        party:
          partyType: "INDIVIDUAL"
          firstName: "John"
          lastName: "Doe"
          address:
            addressLine1: "123 Main Street"
            city: "Amsterdam"
            postalCode: "1012AB"
            country: "NL"
        autoCreateWallet: true
        defaultChain: "BASE"

    UpdateAccountRequest:
      type: object
      description: Update account details. Party details should be updated via the Party endpoints.
      properties:
        externalId:
          type: string
          maxLength: 255

    SingleAccountResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Account'

    AccountListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/Account'
            pagination:
              $ref: '#/components/schemas/Pagination'

    # ==================== WALLET SCHEMAS ====================

    Wallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'
        address:
          type: string
        status:
          $ref: '#/components/schemas/WalletStatus'
        balances:
          type: array
          items:
            $ref: '#/components/schemas/TokenBalance'

    TokenBalance:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/Cryptocurrency'
        balance:
          type: string
        availableBalance:
          type: string
        pendingBalance:
          type: string

    CreateWalletRequest:
      type: object
      required: [chain]
      properties:
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'

    SingleWalletResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Wallet'

    WalletListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/Wallet'
            pagination:
              $ref: '#/components/schemas/Pagination'

    # ==================== VIRTUAL BANK ACCOUNT SCHEMAS ====================

    BankAccountType:
      type: string
      description: |
        Type of bank account determining the payment rails.
        Release 1: Only EUR_SEPA is supported.
        Future releases will add USD_WIRE, USD_ACH, USD_SWIFT, GBP_FPS, GBP_CHAPS, OTHER_SWIFT.
      enum:
        - EUR_SEPA
        - USD_WIRE
        - USD_ACH
        - USD_SWIFT
        - GBP_FPS
        - GBP_CHAPS
        - OTHER_SWIFT

    BankAccountRampType:
      type: string
      description: Supported transaction direction for the bank account
      enum:
        - ON_RAMP
        - OFF_RAMP
        - ON_AND_OFF_RAMP

    Address:
      type: object
      description: Standardized address format used across all endpoints
      required:
        - addressLine1
        - city
        - postalCode
        - country
      properties:
        addressLine1:
          type: string
          maxLength: 255
        addressLine2:
          type: string
          maxLength: 255
        city:
          type: string
          maxLength: 100
        state:
          type: string
          maxLength: 100
        postalCode:
          type: string
          maxLength: 20
        country:
          type: string
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country code

    IntermediaryBankDetails:
      type: object
      description: Intermediary bank details for SWIFT transfers
      properties:
        bankName:
          type: string
          maxLength: 255
        bic:
          type: string
          pattern: "^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$"
        accountNumber:
          type: string
          maxLength: 34

    VirtualBankAccount:
      type: object
      description: |
        Virtual bank account for receiving payments. The fields returned depend on the
        bankAccountType. EUR_SEPA accounts return iban/bic, while USD accounts (future)
        return accountNumber/routingNumber.
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        bankAccountType:
          $ref: '#/components/schemas/BankAccountType'
        name:
          type: string
          description: Display name for the bank account
        status:
          $ref: '#/components/schemas/VirtualBankAccountStatus'
        currency:
          $ref: '#/components/schemas/FiatCurrency'
          description: Fiat currency this account receives
        targetCryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
          description: Cryptocurrency that incoming fiat is converted to
        # EUR_SEPA fields (Release 1)
        iban:
          type: string
          description: IBAN for EUR_SEPA accounts
          example: "DE89370400440532013000"
        bic:
          type: string
          description: BIC/SWIFT code for EUR_SEPA accounts
          example: "DEUTDEDB"
        # USD fields (future releases)
        accountNumber:
          type: string
          description: Bank account number for USD_WIRE/USD_ACH accounts (future)
        routingNumber:
          type: string
          description: Routing number for USD_WIRE/USD_ACH accounts (future)
        # Common fields
        bankName:
          type: string
          description: Name of the bank
        beneficiaryName:
          type: string
          description: Name of the account beneficiary
        referenceCode:
          type: string
          description: Unique reference code to include in payment transfers
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Base request with common fields
    CreateVirtualBankAccountRequest:
      type: object
      description: |
        Request to create a virtual bank account. The backend provisions the appropriate
        bank account type based on the inCurrency (e.g., EUR creates a EUR_SEPA account).
      required:
        - name
        - inCurrency
        - targetCryptocurrency
      properties:
        name:
          type: string
          maxLength: 255
          description: Display name for the bank account
        inCurrency:
          $ref: '#/components/schemas/FiatCurrency'
          description: Fiat currency to receive. Determines the bank account type (e.g., EUR -> EUR_SEPA)
        targetCryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
          description: Cryptocurrency to convert incoming fiat payments to
      example:
        name: "My EUR Deposit Account"
        inCurrency: "EUR"
        targetCryptocurrency: "USDC"

    SingleVirtualBankAccountResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/VirtualBankAccount'

    VirtualBankAccountListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/VirtualBankAccount'
            pagination:
              $ref: '#/components/schemas/Pagination'

    # ==================== PAYMENT LINK SCHEMAS ====================

    PaymentLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        paymentUrl:
          type: string
          format: uri
        externalRef:
          type: string
        status:
          $ref: '#/components/schemas/PaymentLinkStatus'
        walletId:
          type: string
          format: uuid
        blockchainTxId:
          type: string
          nullable: true
        failureReason:
          type: string
          nullable: true
        failureCode:
          $ref: '#/components/schemas/ErrorCode'
        cancellable:
          type: boolean
        expiresAt:
          type: string
          format: date-time

    CreatePaymentLinkRequest:
      type: object
      properties:
        inAmount:
          type: string
          pattern: "^\\d+(\\.\\d{1,2})?$"
        inCurrency:
          $ref: '#/components/schemas/FiatCurrency'
        outCryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
        redirectUrl:
          type: string
          format: uri
        externalRef:
          type: string
          maxLength: 255
        metadata:
          type: object
          additionalProperties:
            type: string

    SinglePaymentLinkResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/PaymentLink'

    # ==================== ACCOUNT-TO-ACCOUNT TRANSFER SCHEMAS ====================

    AccountToAccountTransferStatus:
      type: string
      enum: [PENDING, COMPLETED, FAILED]

    AccountToAccountTransfer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sourceAccountId:
          type: string
          format: uuid
        destinationAccountId:
          type: string
          format: uuid
        amount:
          type: string
        cryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
        status:
          $ref: '#/components/schemas/AccountToAccountTransferStatus'

    CreateAccountToAccountTransferRequest:
      type: object
      required:
        - sourceAccountId
        - destinationAccountId
        - amount
        - cryptocurrency
      properties:
        sourceAccountId:
          type: string
          format: uuid
        destinationAccountId:
          type: string
          format: uuid
        amount:
          type: string
          pattern: "^\\d+(\\.\\d{1,6})?$"
        cryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'
          description: Optional blockchain network. If not specified, defaults to the account's primary chain.

    SingleAccountToAccountTransferResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/AccountToAccountTransfer'

    AccountToAccountTransferListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/AccountToAccountTransfer'
            pagination:
              $ref: '#/components/schemas/Pagination'