openapi: 3.1.0
info:
  title: Wallet API
  description: Wallet API Documentation.
  contact:
    name: Venly
    url: https://venly.io
    email: contact@venly.io
  version: 0.60.0
servers:
  - url: https://api-wallet-sandbox.venly.io/
    description: Sandbox Environment
  - url: https://api-wallet.venly.io/
    description: Production Environment
paths:
  /actuator/health:
    get:
      tags:
        - Wallet-API Health
      summary: Check Health 
      description: This endpoint is used to check the current health of the **Wallet-API**. It returns the API health status as either **UP** or **DOWN**.
      operationId: healthCheckWallet
      responses:
        '200':
          description: Wallet-API health result
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    description: "Indicates the status of API services as either `UP` or `DOWN`."
                    example: "UP"
      security:
        - OAuth2: []
  /api/users:
    get:
      tags:
        - User
      summary: 'Get all Users'
      description: "This endpoint retrieves all your users."
      operationId: getAll
      parameters:
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: "The number of items per page"
          required: false
          schema:
            type: integer
            format: int32
        - name: reference
          description: "Filter your users based on reference"
          in: query
          required: false
          schema:
            type: string
        - name: includeSigningMethods
          in: query
          description: "Flag that indicates to show the signing method details of the users or not"
          required: false
          schema:
            type: boolean
            default: false
        - name: owner
          in: query
          description: "Query users linked to your company by specifying the company ID"
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: All users retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - view:users
            - whitelabel
    post:
      tags:
        - User
      summary: 'Create User'
      description: "This endpoint is used to create a user."
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for user creation"
              $ref: '#/components/schemas/CreateUserCommand'
        required: true
      responses:
        '200':
          description: User is created.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/UserDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - create:users
            - whitelabel        
  /api/users/{userId}:
    get:
      tags:
        - User
      summary: 'Get User by ID'
      description: "This endpoint retrives the details of a user by their `userId`."
      operationId: getUser
      parameters:
        - name: userId
          description: "This is the user `ID` whose details you want to fetch."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A specific user's details retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/UserDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - view:users
            - whitelabel
    put:
      tags:
        - User
      summary: 'Update User’s Reference'
      description: "This endpoint is used to update the reference of a user by `userId`."
      operationId: updateUser
      parameters:
        - name: userId
          description: "This is the user `ID` whose **reference** you want to update."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The updated `reference` of the user"
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: User's reference updated successfully.
          content:
            application/json:
              schema:
                  properties: 
                    success: 
                      type: "boolean"
                    result:
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                          description: "The wallet ID"
                        reference: 
                          type: "string"
                          description: "Updated description"
                        createdAt: 
                          type: "string"
                          description: "Time-date when the reference was updated"
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - update:users
            - whitelabel
    delete:
      tags:
        - User
      summary: 'Delete User'
      description: "This endpoint deletes a user. All the linked wallets to the user will be inaccessible once the user has been deleted."
      operationId: deleteUser
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `ID` of the user you want to delete."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User deleted successfully.
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - delete:users
            - whitelabel
  /api/users/{userId}/signing-methods:
    post:
      tags:
        - User
      summary: 'Create User’s Signing Method'
      description: "This endpoint allows you to create a signing method for a user, whether it's their first or an additional one. The first signing method must always be a six-digit `PIN`, and does not require the `Signing-Method` to be passed in the header. For creating subsequent signing methods like `BIOMETRIC`/`EMERGENCY_CODE`/`PASSWORD`, include an existing valid `Signing-Method` in the request header."
      operationId: createSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "You can choose between the `Signing-Method` or the `Encrypted-Signing-Method` header. The `Signing-Method` header is not required if you are creating the first signing method as `PIN`. It is only required when you create a subsequent signing method for the user. Format should be `id:value`."
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `ID` of user whose **signing method** you want to create."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The signing method to create for the user:"
              $ref: '#/components/schemas/CreateSigningMethodRequest_OneOf'
        required: true
      responses:
        '200':
          description: Signing method is created for user.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SigningMethodDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - update:users
            - whitelabel
  /api/users/{userId}/signing-methods/{signingMethodId}:          
    put:
      tags:
        - User
      summary: 'Update User’s Signing Method'
      description: "This endpoint is used to update a user's signing method. This can be done, in case the user forgets their PIN. In order to update a signing method, another valid signign method has to be passed in the header."
      operationId: updateSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `ID` of the user whos signing method you want to update."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
        - name: signingMethodId
          description: "This is the `ID` of signing method you want to update."
          example: "1420c1c9-26bb-4844-ba4e-0a7914c2cfc2"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for updating a user's signing method"
              $ref: '#/components/schemas/UpdateSigningMethodRequest'
        required: true
      responses:
        '200':
          description: Signing method of user updated successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SigningMethodDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - update:users
            - whitelabel
    delete:
      tags:
        - User
      summary: 'Delete User’s Signing Method'
      description: "This endpoint is used to delete a user's signing method."
      operationId: deleteSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `ID` of the user whos signing method you want to delete."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
        - name: signingMethodId
          description: "This is the `ID` of signing method you want to delete."
          example: "1420c1c9-26bb-4844-ba4e-0a7914c2cfc2"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Signing Method deleted successfully.
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - update:users
            - whitelabel
  /api/wallets/{id}:
    get:
      tags:
        - Wallet
      summary: 'Get Wallet'
      description: "This endpoint gets a wallet by id."
      operationId: viewWallet
      parameters:
        - name: id
          description: "This is the ID of the wallet who's details you want to get."
          example: "ae300910-3ad2-4cf6-8776-48a85dda27fc"
          in: path
          required: true
          schema:
            type: string
        - name: includeBalance
          description: "This flag indicates to include the wallet balance or not."
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Retrieved the wallet's information successfully.
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/WalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - view:wallets
            - manage:wallets
            - sign:wallets
            - whitelabel
  /api/wallets/{id}/metadata:
    patch:
      tags:
        - Wallet
      summary: 'Update Wallet'
      description: "This endpoint is used to update the wallet description and to archive or unarchive the wallet."
      operationId: updateMetadata_1
      parameters:
        - name: id
          description: "This is the `ID` of the wallet"
          example: "ae300910-3ad2-4cf6-8776-48a85dda27fc"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for updating wallet's description and/or archiving/unarchiving the wallet"
              $ref: '#/components/schemas/UpdateWalletMetadataRequest'
        required: true
      responses:
        '200':
          description: Wallet description and/or arhive/unarchive successful.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - manage:wallets
            - whitelabel            
  /api/wallets:
    get:
      tags:
        - Wallet
      summary: 'Get all Wallets'
      description: "This endpoint gets all wallets."
      operationId: viewWallets_1
      parameters:
        - name: secretType
          in: query
          required: false
          description: "Filter by blockchains of the wallets"
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
        - name: includeUsers
          description: "Indicates whether or not to include the wallet's of your sub-users in the result."
          in: query
          required: false
          schema:
            type: boolean
        - name: address
          description: "The address of the wallet"
          in: query
          required: false
          schema:
            type: string
        - name: archived
          description: "This flag indicates to list archived wallets or not"
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: includeBalance
          description: "Flag that indicates to show wallet balance or not"
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: linkable
          in: query
          required: false
          schema:
            type: boolean
        - name: userId
          description: "Filter wallets by user `ID`"
          in: query
          required: false
          schema:
            type: string
        - name: sortOn
          description: "The name of the parameter that you want to sort on"
          in: query
          required: false
          schema:
            type: string
        - name: sortOrder
          description: "Indication to sort in ascending or descending order"
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          description: "The number of items per page"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: identifier
          description: "Identifier to fetch a single or group of wallets"
          in: query
          required: false
          schema:
            type: string
        - name: owner
          description: "Pass the company ID to fetch all the wallets linked to the company."
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Retrieved all wallets information successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                      type: array
                      items:
                        $ref: '#/components/schemas/WalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - view:wallets
            - manage:wallets
            - sign:wallets
            - whitelabel
    post:
      tags:
        - Wallet
      summary: 'Create Wallet'
      description: "This endpoint is used to create a wallet."
      operationId: createWallet
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for creating a wallet"
              $ref: '#/components/schemas/CreateApiWalletRequest'
        required: true
      responses:
        '200':
          description: Wallet created successfully.
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/WalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - ARKANE_ONLY
            - manage:wallets
            - whitelabel                  
  /api/wallets/{walletId}/export:
    post:
      tags:
        - Wallet
      summary: "Export Wallet"
      description: "Please note that exporting a password-secured keystore enhances protection against man-in-the-middle attacks. We do not allow exporting of private keys by default due to associated risks. Exporting a wallet means the private key, granting access to the wallet, is beyond our control. If this key is compromised, it can be misused, leading to unauthorized access and potential loss. Enabling this feature in production carries significant risks, and caution is advised."
      operationId: exportById
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: walletId
          description: "This is the `ID` of the wallet whose keystore/ private key you want to export."
          example: "8ff0351b-e404-4416-b0a0-c695dbe679f1"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for exporting a wallet"
              $ref: '#/components/schemas/ExportKeyCommand'
        required: true
      responses:
        '200':
          description: Wallet exported successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/ExportedWalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - export:wallets
  /api/wallets/import:
    post:
      tags:
        - Wallet
      summary: 'Import Wallet'
      description: "This endpoint is used to import a wallet. Read more about [how to import a wallet](https://docs.venly.io/docs/import-a-wallet)."
      operationId: importWallet
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for importing a wallet"
              $ref: '#/components/schemas/WalletImportRequest_OneOf'
        required: true
      responses:
        '200':
          description: Wallet imported successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2:
            - manage:wallets
            - whitelabel
  /api/wallets/address/validation/{secretType}/{walletAddress}:
    get:
      tags:
        - Wallet
      operationId: validateAddress
      summary: "Validate Wallet Address"
      description: "This endpoint is used to validate whether the format of a wallet address is correct for a specific chain."
      parameters:
        - name: secretType
          in: path
          required: true
          description: 'The blockchain of the wallet'
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
        - name: walletAddress
          in: path
          description: 'The public wallet address of the wallet'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet address format validated successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/ValidWalletAddressDto'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INTERNAL_SERVER_ERROR
                    message: A description of the error (optional)
      security:
        - OAuth2: []
  /api/wallets/{walletId}/events:
    get:
      tags:
        - Wallet
      operationId: index
      summary: "Get all Wallet Events"
      description: "This endpoint retrieves all the events related to a wallet by `walletId`. The events can be wallet created, funds transfer, signed signature, etc."
      parameters:
        - name: walletId
          in: path
          description: 'The `ID` of the wallet'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retrieved all wallet events successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationEventResult'
        '400':
          description: When the request contains invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: validation-error
                    message: A descriptive error message
        '401':
          description: When the user is not authorized to access the resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: UNAUTHORIZED
                    message: Access is denied.
        '403':
          description: When a user doesn't have proper security authority
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: FORBIDDEN
                    message: User doesn't have proper authority to access this resource
        '404':
          description: When a resource is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: NOT_FOUND
        '405':
          description: When the HttpMethod is not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: METHOD_NOT_SUPPORTED
                    message: HttpMethod is not supported. Supported methods are [..]
        '415':
          description: Usually when the input is not a valid json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
              example:
                success: false
                errors:
                  - code: INVALID_MEDIA_TYPE
        '500':
          description: When there's an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBody'
                  result:
                    type: object
[...]
