openapi: 3.1.0
info:
  title: Wallet API
  description: Wallet API Documentation.
  contact:
    name: Venly
    url: https://venly.io
    email: contact@venly.io
  version: 0.62.0
servers:
  - url: https://api-wallet-sandbox.venly.io
    description: Sandbox environment for testing and development
  - url: https://api-wallet.venly.io
    description: Production environment for live applications

paths:
  /actuator/health:
    get:
      tags:
        - Wallet-API Health
      summary: Check Health 
      description: This endpoint is used to check the current health of the **Wallet-API**. It returns the API health status as either **UP** or **DOWN**.
      operationId: healthCheckWallet
      responses:
        '200':
          description: Wallet-API health result
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    description: "Indicates the status of API services as either `UP` or `DOWN`."
                    example: "UP"
      security:
        - OAuth2: []
  /api/users:
    get:
      tags:
        - User
      summary: 'Get all Users'
      description: "This endpoint retrieves all your users and their information."
      operationId: getAll
      parameters:
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: "The number of items per page"
          required: false
          schema:
            type: integer
            format: int32
        - name: reference
          description: "Filter your users based on reference identifier"
          in: query
          required: false
          schema:
            type: string
        - name: includeSigningMethods
          in: query
          description: "Whether to include signing method details in the response"
          required: false
          schema:
            type: boolean
            default: false
        - name: owner
          in: query
          description: " Filter users by company owner using the company UUID"
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: All users retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'


      security:
        - OAuth2:
            - view:users
            - whitelabel
    post:
      tags:
        - User
      summary: 'Create User'
      description: |
        Creates a new user account along with their primary signing method. Users are 
        unique entities that can own and manage multiple wallets.
        
        **Signing Method Requirements:**
        - The first signing method must be a six-digit PIN
        - This PIN serves as the primary authentication method for wallet access
        - Signing methods are required to authorize transactions and access wallet functions
        
        **User-Wallet Relationship:**
        - Each user can be associated with multiple wallets
        - The signing method applies to all wallets owned by the user
        - Users maintain a single identity across all their associated wallets
        
        This endpoint combines user creation and security setup in a single operation
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserCommand'
        required: true
      responses:
        '200':
          description: User is created.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/UserDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - create:users
            - whitelabel        
  /api/users/{userId}:
    get:
      tags:
        - User
      summary: 'Get User by ID'
      description: "This endpoint retrieves detailed information for a specific user by their `UUID`."
      operationId: getUser
      parameters:
        - name: userId
          description: "This is the user `ID` whose details you want to fetch."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A specific user's details retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/UserDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - view:users
            - whitelabel
    put:
      tags:
        - User
      summary: 'Update User’s Reference'
      description: |
        Updates the reference identifier for a specific user based on the user `UUID`.
        The reference is a custom identifier that can be used to link users to external systems.
      operationId: updateUser
      parameters:
        - name: userId
          description: "The user `UUID` whose **reference** you want to update."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              description: "The updated `reference` of the user"
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        '200':
          description: User's reference updated successfully.
          content:
            application/json:
              schema:
                  properties: 
                    success: 
                      type: "boolean"
                    result:
                      type: "object"
                      properties: 
                        id: 
                          type: "string"
                          description: "The wallet ID"
                        reference: 
                          type: "string"
                          description: "Updated description"
                        createdAt: 
                          type: "string"
                          description: "Time-date when the reference was updated"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - update:users
            - whitelabel
    delete:
      tags:
        - User
      summary: 'Delete User'
      description: "This endpoint deletes a user. All the linked wallets to the user will be inaccessible once the user has been deleted."
      operationId: deleteUser
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `UUID` of the user you want to delete."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - delete:users
            - whitelabel
  /api/users/{userId}/signing-methods:
    post:
      tags:
        - User
      summary: 'Create User’s Signing Method'
      description: "This endpoint allows you to create a signing method for a user, whether it's their first or an additional one. The first signing method must always be a six-digit `PIN`, and does not require the `Signing-Method` to be passed in the header. For creating subsequent signing methods like `BIOMETRIC`/`EMERGENCY_CODE`/`PASSWORD`, include an existing valid `Signing-Method` in the request header."
      operationId: createSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "You can choose between the `Signing-Method` or the `Encrypted-Signing-Method` header. The `Signing-Method` header is not required if you are creating the first signing method as `PIN`. It is only required when you create a subsequent signing method for the user. Format should be `id:value`."
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `UUID` of user whose **signing method** you want to create."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The signing method to create for the user:"
              $ref: '#/components/schemas/CreateSigningMethodRequest_OneOf'
        required: true
      responses:
        '200':
          description: Signing method is created for user.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SigningMethodDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - update:users
            - whitelabel
  /api/users/{userId}/signing-methods/{signingMethodId}:          
    put:
      tags:
        - User
      summary: 'Update User’s Signing Method'
      description: "This endpoint is used to update a user's signing method. This can be done, in case the user forgets their PIN. In order to update a signing method, another valid signign method has to be passed in the header."
      operationId: updateSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `UUID` of the user whos signing method you want to update."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: signingMethodId
          description: "This is the `UUID` of signing method you want to update."
          example: "1420c1c9-26bb-4844-ba4e-0a7914c2cfc2"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for updating a user's signing method"
              $ref: '#/components/schemas/UpdateSigningMethodRequest'
        required: true
      responses:
        '200':
          description: Signing method of user updated successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SigningMethodDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - update:users
            - whitelabel
    delete:
      tags:
        - User
      summary: 'Delete User’s Signing Method'
      description: "This endpoint is used to delete a user's signing method."
      operationId: deleteSigningMethod
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: userId
          description: "This is the `UUID` of the user whos signing method you want to delete."
          example: "9b5514c7-d093-4cba-9635-a535k31d7030"
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: signingMethodId
          description: "This is the `UUID` of signing method you want to delete."
          example: "1420c1c9-26bb-4844-ba4e-0a7914c2cfc2"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Signing Method deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - update:users
            - whitelabel
  /api/wallets/{id}:
    get:
      tags:
        - Wallet
      summary: 'Get Wallet'
      description: "This endpoint gets a wallet by id."
      operationId: viewWallet
      parameters:
        - name: id
          description: "This is the ID of the wallet who's details you want to get."
          example: "ae300910-3ad2-4cf6-8776-48a85dda27fc"
          in: path
          required: true
          schema:
            type: string
        - name: includeBalance
          description: "This flag indicates to include the wallet balance or not."
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Retrieved the wallet's information successfully.
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/WalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - view:wallets
            - manage:wallets
            - sign:wallets
            - whitelabel
  /api/wallets/{id}/metadata:
    patch:
      tags:
        - Wallet
      summary: 'Update Wallet'
      description: |
        Updates modifiable metadata properties of an existing wallet. This endpoint 
        allows you to modify the wallet's description, set primary status, archive/unarchive 
        the wallet, or update the custom identifier for external system integration
      operationId: updateMetadata_1
      parameters:
        - name: id
          description: "This is the `UUID` of the wallet"
          example: "ae300910-3ad2-4cf6-8776-48a85dda27fc"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for updating wallet's description and/or archiving/unarchiving the wallet"
              $ref: '#/components/schemas/UpdateWalletMetadataRequest'
        required: true
      responses:
        '200':
          description: Wallet description and/or arhive/unarchive successful.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - manage:wallets
            - whitelabel            
  /api/wallets:
    get:
      tags:
        - Wallet
      summary: 'Get all Wallets'
      description: |
        Retrieves a paginated list of all wallets accessible to your account. This endpoint 
        supports comprehensive filtering, sorting, and inclusion options to help you find 
        specific wallets or groups of wallets based on various criteria.
        
        **Key Features:**
        - Filter by blockchain network, user, or company
        - Include or exclude archived wallets
        - Sort results by multiple criteria
        - Control balance information inclusion for performance
        - Search by wallet address or custom identifier
        
        Use this endpoint for wallet management dashboards, reporting, or integration 
        with external systems requiring wallet inventory data.
      operationId: viewWallets_1
      parameters:
        - name: secretType
          in: query
          required: false
          description: "Filter wallets by specific blockchain network"
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: includeUsers
          description: "Indicates whether or not to include the wallet's of your sub-users in the result."
          in: query
          required: false
          schema:
            type: boolean
        - name: address
          description: "Filter by exact wallet address on the blockchain"
          in: query
          required: false
          schema:
            type: string
        - name: archived
          description: "Include archived wallets in the results (excluded by default)"
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: includeBalance
          description: "Include current balance information in the response (may impact performance)"
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: linkable
          in: query
          required: false
          schema:
            type: boolean
        - name: userId
          description: "Filter wallets by user `UUID`"
          in: query
          required: false
          schema:
            type: string
        - name: sortOn
          description: "The name of the parameter that you want to sort on"
          in: query
          required: false
          schema:
            type: string
        - name: sortOrder
          description: "Indication to sort in ascending or descending order"
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          description: "The number of items per page"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: identifier
          description: "Identifier to fetch a single or group of wallets"
          in: query
          required: false
          schema:
            type: string
        - name: owner
          description: "Pass the company ID to fetch all the wallets linked to the company."
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Retrieved all wallets information successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                      type: array
                      items:
                        $ref: '#/components/schemas/WalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - view:wallets
            - manage:wallets
            - sign:wallets
            - whitelabel
    post:
      tags:
        - Wallet
      summary: 'Create Wallet'
      description: |
        Creates a new wallet for an existing user with a configured signing method.
        
        **Prerequisites:**
        - User must be created to which the wallet will be linked
        - User must have at least one configured signing method (used to authenticate wallet creation)
      operationId: createWallet
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiWalletRequest'
        required: true
      responses:
        '200':
          description: Wallet created successfully.
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/WalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - ARKANE_ONLY
            - manage:wallets
            - whitelabel                  
  /api/wallets/{walletId}/export:
    post:
      tags:
        - Wallet
      summary: "Export Wallet"
      description: |
        Exports wallet credentials for use in external applications or backup purposes.
        
        **Security Considerations:**
        - Password-protected keystores are recommended for enhanced security against network attacks
        - Once exported, private keys are outside our security controls
        - Compromised keys can result in unauthorized access and potential fund loss
        
        **Important:** Exported credentials grant full wallet access. Store them securely 
        and never share with untrusted parties.
      operationId: exportById
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: walletId
          description: "This is the `UUID` of the wallet whose keystore/ private key you want to export."
          example: "8ff0351b-e404-4416-b0a0-c695dbe679f1"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportKeyCommand'
        required: true
      responses:
        '200':
          description: Wallet exported successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/ExportedWalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - export:wallets
  /api/wallets/import:
    post:
      tags:
        - Wallet
      summary: 'Import Wallet'
      description: "This endpoint is used to import a wallet. Read more about [how to import a wallet](https://docs.venly.io/docs/import-a-wallet)."
      operationId: importWallet
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletImportRequest_OneOf'
        required: true
      responses:
        '200':
          description: Wallet imported successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - manage:wallets
            - whitelabel
  /api/wallets/address/validation/{secretType}/{walletAddress}:
    get:
      tags:
        - Wallet
      operationId: validateAddress
      summary: "Validate Wallet Address"
      description: "This endpoint is used to validate whether the format of a wallet address is correct for a specific chain."
      parameters:
        - name: secretType
          in: path
          required: true
          description: 'The blockchain of the wallet'
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: walletAddress
          in: path
          description: 'The public wallet address of the wallet'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet address format validated successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/ValidWalletAddressDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{walletId}/events:
    get:
      tags:
        - Wallet
      operationId: index
      summary: "Get all Wallet Events"
      description: "This endpoint retrieves all the events related to a wallet by `walletId`. The events can be wallet created, funds transfer, signed signature, etc."
      parameters:
        - name: walletId
          in: path
          description: 'The `UUID` of the wallet'
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Retrieved all wallet events successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationEventResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{walletId}/balance:
    get:
      tags:
        - Balance
      operationId: viewBalance
      summary: "Get native Balance by walletId"
      description: "This endpoint gets native balance of a wallet by wallet `UUID`."
      parameters:
        - name: walletId
          description: "`UUID` of the wallet to fetch native balance for"
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Native balance of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletNativeBalanceDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{walletId}/balance/tokens:
    get:
      tags:
        - Balance
      operationId: viewTokenBalances
      summary: " Get all ERC20 Token Balance by walletId"
      description: "This endpoint fetches all the ERC20 token balance by wallet `UUID`"
      parameters:
        - name: walletId
          description: "`UUID` of the wallet"
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: tokenAddress
          description: "Filter results by specific token contract addresses. Accepts multiple addresses 
            to retrieve balances for multiple tokens in a single request. Each address must 
            be a valid contract address on the specified blockchain network."
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          examples:
            single_token:
              summary: 'Single token address'
              value: ['0xA0b86a33E6411C476e19F6DD4F63187Bb9E76Ee8']
            multiple_tokens:
              summary: 'Multiple token addresses'
              value: [
                '0xA0b86a33E6411C476e19F6DD4F63187Bb9E76Ee8',
                '0x6B175474E89094C44Da98b954EedeAC495271d0F',
                '0xdAC17F958D2ee523a2206206994597C13D831ec7'
              ]
        - name: all
          description: "Set to `false` if  you do not want to retrieve 0 or dust balances (example 0.00000000001). When set to `true` everything is returned including 0 balances. In case of **HEDERA**: tokens with 0 balance are associated tokens."
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: includePossibleSpam
          description: "Indication to include possible spam tokens in the response body or not."
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: ERC20 token balances of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{walletId}/balance/tokens/{token}:
    get:
      tags:
        - Balance
      operationId: viewTokenBalance
      summary: "Get specific ERC20 Token Balance by walletId and token address"
      description: "This endpoint retrieves ERC20 Token balances by wallet `UUID` and token contract address."
      parameters:
        - name: walletId
          description: "`UUID` of the wallet"
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: token
          description: "Smart contract address of the token for which to retrieve balance information"
          in: path
          required: true
          schema:
            type: string
        - name: includePossibleSpam
          description: "Indication to include possible spam tokens in the response body or not."
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: ERC20 token balance of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TokenBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{secretType}/{walletAddress}/tokens/associations:
    get:
      tags:
        - Balance
      operationId: getTokenAssociations
      summary: " Get Token Associations for Hedera Wallet"
      description: "This endpoint retrieves the token assocciations for a Hedera wallet using the wallet address."
      parameters:
        - name: secretType
          description: "The blockchain of the wallet. This will be `HEDERA`."
          in: path
          required: true
          schema:
            type: string
            enum:
              - HEDERA
        - name: walletAddress
          description: "The wallet address"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token assocciations of Hedera wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TokenAssociation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{secretType}/{walletAddress}/balance:
    get:
      tags:
        - Balance
      operationId: viewBalance_1
      summary: "Get native Balance by Chain and Wallet Address"
      description: |
        Retrieves the native token balance for a specific wallet address on the specified 
        blockchain network. This endpoint returns the current balance in both human-readable 
        and raw formats, along with token metadata and USD exchange rates when available.
      parameters:
        - name: secretType
          description: "Blockchain network on which to query the wallet balance"
          in: path
          required: true
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: walletAddress
          description: 'Public blockchain address of the wallet to query'
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Native balance of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/WalletNativeBalanceDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{secretType}/{walletAddress}/balance/tokens:
    get:
      tags:
        - Balance
      operationId: viewTokenBalances_1
      summary: "Get ERC20 Balance by Chain and Wallet Address"
      description: |
        Retrieves ERC20 token balances for a specific wallet address 
        on the specified blockchain network. This endpoint returns detailed balance information 
        including token metadata, exchange rates, and USD valuations when available.
        
        **Filtering Options:**
        - Query specific tokens by contract address
        - Show all tokens or only those with non-zero balances
        - Include or exclude potential spam/scam tokens
      parameters:
        - name: secretType
          description: 'Blockchain network on which to query token balances'
          in: path
          required: true
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: walletAddress
          description: "The address of the wallet to fetch token balance for"
          in: path
          required: true
          schema:
            type: string
        - name: tokenAddress
          description: " Filter results by specific token contract addresses. Accepts multiple addresses 
            to retrieve balances for multiple tokens in a single request. If omitted, 
            returns balances for all tokens"
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          examples:
            single_token:
              summary: 'Query specific token'
              value: ['0xA0b86a33E6411C476e19F6DD4F63187Bb9E76Ee8']
            multiple_tokens:
              summary: 'Query multiple tokens'
              value: [
                '0xA0b86a33E6411C476e19F6DD4F63187Bb9E76Ee8',
                '0x6B175474E89094C44Da98b954EedeAC495271d0F'
              ]
        - name: all
          description: "Include tokens with zero balances in the response (when false, only returns tokens with positive balances)"
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: includePossibleSpam
          description: "Include tokens flagged as potential spam or scam tokens in the response"
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: ERC20 token balance of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/wallets/{secretType}/{walletAddress}/balance/tokens/{token}:
    get:
      tags:
        - Balance
      operationId: viewTokenBalance_1
      summary: "Get specific ERC20 Token Balance by Chain, Wallet Address, and Token Address"
      description: "This endpoint gets the ERC20 token balance by Wallet `ID`, wallet address, and token address. "
      parameters:
        - name: secretType
          description: "Blockchain network on which the token contract is deployed"
          in: path
          required: true
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: walletAddress
          description: "The address of the wallet to fetch token balances for"
          in: path
          required: true
          schema:
            type: string
        - name: token
          description: "Contract address of the token (contract) to fetch the balance for"
          in: path
          required: true
          schema:
            type: string
        - name: includePossibleSpam
          description: "Indication to include possible spam tokens in the response body or not."
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: ERC20 token balance of wallet retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TokenBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/transactions:
    get:
      tags:
        - Transactions
      summary: "Get all Transactions"
      description: |
        Retrieves a paginated list of transactions with optional filtering capabilities.
        
        **Features:**
        - Filter by transaction status
        - Filter by specific user UUID
        - Configurable pagination
        - Flexible sorting options
        - Optional user details inclusion
      operationId: getAll_1
      parameters:
        - name: statuses
          description: "Filter the results based on the transaction's current status"
          in: query
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - PENDING
                - SUCCEEDED
                - FAILED
                - OVERRIDDEN
                - EXPIRED
                - CANCELED
                - UNKNOWN
            default: ["SUCCEEDED"]
            minItems: 1
            maxItems: 7
          example: ["SUCCEEDED", "PENDING"]
        - name: userId
          description: "Filter the transactions by your users with `userId`"
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: includeUsers
          description: "Boolean flag to indicate whether to show your users in the result or not"
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          description: "The number of items per page"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sortOn
          description: "Name of the parameter to sort on"
          in: query
          required: false
          schema:
            type: string
            enum: 
              - createdAt
              - nonce
          example: "createdAt"
        - name: sortOrder
          description: "Indication to sort in ascending or descending order"
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: All transactions retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  pagination:
                    type: object
                    properties:
                      pageNumber:
                        type: integer
                        format: int32
                        description: "The current page number"
                      pageSize:
                        type: integer
                        format: int32
                        description: "Number of items per page"
                      numberOfPages:
                        type: integer
                        format: int32
                        description: "Total number of pages"
                      numberOfElements:
                        type: integer
                        format: int64
                        description: "Total number of result entities"
                      hasNextPage:
                        type: boolean
                        description: "Indicates if the result has a next page"
                      hasPreviousPage:
                        type: boolean
                        description: "Indicates if the result has a previous page"
                  sort:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          type: object
                          properties:
                            weight:
                              type: integer
                              format: int32
                            property:
                              type: string
                              description: "The name of the property that results are filtered on"
                            direction:
                              type: string
                              description: "Ascending or descending result order"
                              enum:
                                - ASC
                                - DESC
                  result:
                    type: object
                    properties:
                      expiresAt:
                        type: string
                        format: date-time
                      createdAt:
                        type: string
                        format: date-time
                        description: "The date-time when the transaction was created"
                      transactionRequest:
                        $ref: '#/components/schemas/TransactionRequestBase'
                      transactionHash:
                        type: string
                        description: "The transaction hash"
                      originId:
                        type: string
                      resubmittedTransactionId:
                        type: string
                        deprecated: true
                      replacedBy:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []

    post:
      tags:
        - Transactions
      summary: 'Create Transaction'
      description: |
        Creates a blockchain transaction of any supported type with autogenrating the gas fields.
        
        **Supported Transaction Types:**
        - Native token transfers
        - ERC-20 token transfers
        - NFT transfers (ERC-721, ERC-1155)
        - Smart contract interactions
      operationId: createTransaction
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for executing a transaction"
              $ref: '#/components/schemas/CreateTransactionRequest_OneOf' 
        required: true
      responses:
        '200':
          description: Transaction executed successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []

  /api/transactions/{id}/confirm:
    post:
      tags:
        - Transactions
      operationId: confirmTransaction
      summary: "Confirm Transaction Request"
      description: |
        Confirms a saved transaction request and prepares it for execution by updating its status 
        from **SAVED** to **READY**.
        
        **Process flow:**
        1. Validates the saved transaction request parameters
        2. Calculates and populates gas fees, nonce, and other blockchain-specific fields
        3. Updates status to **READY**, making it available for execution
        4. Sets expiration time for the confirmed transaction
        
        **When to use:**
        - After creating a transaction request with `status: "SAVED"`
        - Before calling the execute endpoint to complete the transaction
        - When you're ready to finalize gas calculations and network parameters
        
        **Important notes:**
        - Only works with transaction requests in **SAVED** status
        - Gas fields will be auto-populated based on current network conditions
        - The confirmed transaction will have an expiration time after which it cannot be executed
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: id
          description: "UUID of the transaction request to confirm"
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      requestBody:
        description: "Blockchain of the transaction request"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSignableCommand'
        required: true
      responses:
        '200':
          description: Transaction confirmed successfully and ready for execution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: "Indicates whether the confirmation was successful"
                    example: true
                  result:
                    $ref: '#/components/schemas/TransactionRequestedResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - save:transaction

  /api/transactions/{id}/execute:
    post:
      tags:
        - Transactions
      operationId: executeTransaction
      summary: "Execute Transaction Request"
      description: |
        Executes a confirmed transaction request by transaction UUID, by performing the blockchain transaction operation.
        
        **Prerequisites:**
        - Transaction request must be in **READY** status (use confirm endpoint first)
        - Transaction must not be expired
        
        **Process:**
        1. Validates the transaction request status and expiration
        2. Authenticates using provided signing method
        3. Signs and broadcasts the transaction to the blockchain network
        4. Returns the transaction result with hash and network confirmation
        
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: id
          description: "UUID of the transaction request to execute"
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      requestBody:
        description: "Blockchain for the transaction"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSignableCommand'
        required: true
      responses:
        '200':
          description: Transaction executed successfully and broadcast to the blockchain.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: "Indicates whether the transaction execution was successful"
                    example: true
                  result:
                    $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - sign:wallets

  /api/transactions/execute:
    post:
      tags:
        - Transactions
      summary: 'Execute Transaction'
      description: |
        Creates and executes a blockchain transaction of any supported type.
        
        **Supported Transaction Types:**
        - Native token transfers
        - ERC-20 token transfers
        - NFT transfers (ERC-721, ERC-1155)
        - Smart contract interactions
      operationId: executeTransaction_1
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for executing a transaction"
              $ref: '#/components/schemas/BuildAndExecuteTransactionRequest'
        required: true
      responses:
        '200':
          description: Transaction executed successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - sign:wallets
  /api/transactions/build:
    post:
      tags:
        - Transactions
      summary: 'Build Transaction Request'
      description: |
        Transforms a generic transaction request into a blockchain-specific transaction with 
        all necessary parameters populated for the target network.
        
        **What this endpoint does:**
        - Validates transaction data against the specified blockchain network
        - Converts generic amounts to blockchain-native units (e.g., 0.1 SUI → 100000000 MIST)
        - Calculates and populates network-specific parameters (gas price, gas budget, nonce)
        - Transforms generic transaction types to chain-specific types (TRANSFER → SUI_TRANSFER)
        - Returns a structured transaction request ready for confirmation and execution
        
        **Supported transaction types:**
        - **Native transfers**: Send blockchain's native currency (ETH, SUI, MATIC, etc.)
        - **Token transfers**: Send ERC-20 or equivalent tokens
        - **NFT transfers**: Transfer ERC-721/ERC-1155 or equivalent NFTs
        - **Contract execution**: Call smart contract functions
        - **Multi-transfers**: Batch multiple operations (Hedera only)
      operationId: buildTransaction
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for preparing a transaction for a specififc chain"
              $ref: '#/components/schemas/BuildTransactionRequest_OneOf'
        required: true
      responses:
        '200':
          description: Transaction prepared for a specific chain successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/BuildTransaction_OneOf'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - sign:wallets
  /api/transactions/{secretType}/{transactionHash}/status:
    get:
      tags:
        - Transactions
      operationId: getStatus
      summary: "Get Transaction Status"
      description: |
        Retrieves the current status of a blockchain transaction using its unique hash identifier.
        
        This endpoint queries the specified blockchain network to determine the transaction's current state,
        such as whether it's pending, confirmed, or failed. The status is fetched directly from the 
        blockchain's network nodes to ensure accuracy.
        
        **Supported Status Values:**
        - `PENDING` - Transaction submitted but not yet confirmed
        - `SUCCEEDED` - Transaction successfully confirmed on blockchain
        - `FAILED` - Transaction failed during execution
        - `UNKNOWN` - Status cannot be determined (unsupported chain or invalid hash)
      parameters:
        - name: secretType
          description: "The blockchain of the transaction"
          in: path
          required: true
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
        - name: transactionHash
          description: "The transaction hash of the transaction to check the status for"
          in: path
          required: true
          schema:
            type: string
        - name: endpoint
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Transaction status retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TxInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/transactions/{secretType}/fees:
    get:
      tags:
        - Transactions
      operationId: getStatus_1
      summary: "Get Gas Price for a Chain"
      description: "This endpoint fetches the current fees (for EVM based chains: `gasprice`) for a specific chain"
      parameters:
        - name: secretType
          description: "The blockchain for which you want to get gas price details"
          in: path
          required: true
          schema:
            type: string
            enum:
              - AETERNITY
              - AVAC
              - BITCOIN
              - BSC
              - ETHEREUM
              - GOCHAIN
              - HEDERA
              - LITECOIN
              - VECHAIN
              - MATIC
              - NEO
              - IMX
              - ARBITRUM
              - OPTIMISM
              - BASE
              - XPLA
              - SOLANA
              - SUI
      responses:
        '200':
          description: Gas price for a chain retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/signatures:
    get:
      tags:
        - Signatures
      operationId: getUserSignatureRequests
      summary: "Get Signature Request by userId"
      description: "This endpoint retrives all the signature requests, and the results can be filtered by `userId` and signature status."
      parameters:
        - name: status
          description: "Filter the results by the signature status."
          in: query
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - SAVED
                - READY
                - SIGNED
                - EXPIRED
                - CANCELED
            default:
              - READY
        - name: page
          description: "The current page number"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          description: "The number of items per page"
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sortOn
          description: "Name of the parameter to sort on"
          in: query
          required: false
          schema:
            type: string
        - name: sortOrder
          description: "Indication to sort in ascending or descending order"
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: includeUsers
          description: "Boolean flag to indicate whether to show your users in the result or not"
          in: query
          required: false
          schema:
            type: boolean
        - name: userId
          description: "Filter the signatures by your users with `userId`"
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Signature requests retrieved succesfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  pagination:
                    type: object
                    properties:
                      pageNumber:
                        type: integer
                        format: int32
                        description: "The current page number"
                      pageSize:
                        type: integer
                        format: int32
                        description: "The number of items per page"
                      numberOfPages:
                        type: integer
                        format: int32
                        description: "The total number of pages"
                      numberOfElements:
                        type: integer
                        format: int64
                      hasNextPage:
                        type: boolean
                        description: "Indicates whether or not there is a next page"
                      hasPreviousPage:
                        type: boolean
                        description: "Indicates whether or not there is a previous page"
                  sort:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          type: object
                          properties:
                            weight:
                              type: integer
                              format: int32
                            property:
                              type: string
                            direction:
                              type: string
                              enum:
                                - ASC
                                - DESC
                  result:
                    $ref: '#/components/schemas/SignatureRequestDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
    post:
      tags:
        - Signatures
      summary: 'Create or Sign Signature'
      description: |
        Creates and optionally executes cryptographic signatures for blockchain messages and structured data.
        
        **Supported signature types:**
        - **Message signing**: Plain text message signing using personal_sign method
        - **EIP-712**: Ethereum typed structured data signing for improved security and usability
      operationId: signTransaction
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for building and signing a signature request"
              $ref: '#/components/schemas/BuildAndExecuteSignatureRequest'
        required: true
      responses:
        '200':
          description: Signature created and signed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: "Indicates whether the operation was successful"
                    example: true
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/SavedOrReadySignatureResponse'
                      - $ref: '#/components/schemas/ExecutedSignatureResponse'
                    discriminator:
                      propertyName: type
                      mapping:
                        savedOrReady: '#/components/schemas/SavedOrReadySignatureResponse'
                        executed: '#/components/schemas/ExecutedSignatureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - sign:wallets
            - save:signature

  /api/signatures/{id}/confirm:
    post:
      tags:
        - Signatures
      operationId: confirmSignatureRequest
      summary: "Confirm Signature"
      description: |
        Confirms a saved signature request and prepares it for execution by updating its status 
        from **SAVED** to **READY**.
        
        **Process flow:**
        1. Validates the saved signature request parameters
        2. For transaction signatures: Calculates and populates gas fees, nonce, and other required fields
        3. Updates status to **READY**, making it available for signing
        4. Sets expiration time for the confirmed request
      parameters:
        - name: id
          description: "The UUID of the signature request to mark as READY"
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSignatureRequest_OneOf'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SignatureRequestDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/signatures/{id}/sign:
    post:
      tags:
        - Signatures
      summary: 'Sign Signature'
      description: |
        Executes a confirmed signature request by performing the cryptographic signing operation. It returns the completed signature in the appropriate format.
        
        **Prerequisites:**
        - Signature request must be in **READY** status (use confirm endpoint first)
      operationId: signSignatureRequest
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
        - name: id
          description: "UUID of the signature request to execute"
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignSignatureRequestCommand'
      responses:
        '200':
          description: Signature signed successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/Signature_OneOf'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - sign:wallets
  /api/signatures/build:
    post:
      tags:
        - Signatures
      operationId: buildSignature
      summary: "Build Signature Request"
      description: |
        Transforms a generic signature request into a blockchain-specific signature request 
        with all necessary parameters populated for the target network.
        
        **Supported operations:**
        - **Plain Message signing**
        - **EIP-712 structured data signing**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildSignatureRequest_OneOf'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/signatures/verification:
    post:
      tags:
        - Signatures
      operationId: isValidSignature
      summary: "Verify Signed Signature"
      description: "Cryptographically verifies that a signature was signed by a specific wallet address for the given message or data."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatureVerificationRequest'
        required: true
      responses:
        '200':
          description: Verification of the signed signature successful.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                  result:
                    type: boolean
                    description: |
                      Verification result:
                      - `true`: Signature is valid and was signed by the specified wallet address
                      - `false`: Signature is invalid or was not signed by the specified wallet address
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
  /api/signatures/{id}:
    get:
      tags:
        - Signatures
      operationId: getSignatureRequestById
      summary: "Get Signature Request by id"
      description: |
        Retrieves a signature request by its unique identifier, including current status, 
        metadata, and signing details.
        
        **Returns information about:**
        - Current signature request status (SAVED, READY, SIGNED, EXPIRED, CANCELED)
        - Original request parameters and data
        - Timestamps (created, expires, signed)
        - Signature results (if completed)
        - Associated wallet and blockchain network details
      parameters:
        - name: id
          description: "UUID of the signature request to retrieve"
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      responses:
        '200':
          description: Specific signature request retrieved successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/SignatureRequestDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []
    delete:
      tags:
        - Signatures
      operationId: cancel_2
      summary: "Cancel Signature Request"
      description: |
        Cancels a signature request by setting its status to **CANCELED**. This prevents 
        the signature from being executed and marks it as permanently inactive.
        
        **Cancellation rules:**
        - Can only cancel requests with status: **SAVED** or **READY**
        - Cannot cancel already **SIGNED**, **EXPIRED**, or **CANCELED** requests
        - Action is irreversible - canceled requests cannot be reactivated
      parameters:
      - name: id
        description: "UUID of the signature request to cancel"
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: "3d3649c3-50ff-49c4-a74b-4fc74fb507a6"
      responses:
        '200':
          description: Signature deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2: []                 
  /api/transactions/resubmit:
    post:
      tags:
        - Transactions
      summary: 'Resubmit Transaction'
      description: "This endpoint immediately tries to resubmit a stuck transaction. Sometimes a transaction fails to execute/propagate. This can be due to several factors, for example, the gas price is too low."
      operationId: resubmit
      parameters:
        - name: Signing-Method
          in: header
          description: "A valid signing method for the user. Format should be `id:value`. **NOTE**: You can choose between the `Signing-Method`  and the `Encrypted-Signing-Method`"
          example: 756ae7a7-3713-43ee-9936-0dff50306488:123456
          required: true
          schema:
            type: string
        - name: Encrypted-Signing-Method
          in: header
          description: "Use this for encrypted PIN transfers. The `Encrypted-Signing-Method` indicates that the signing method and the request body are encrypted. Click [here](https://docs.venly.io/docs/encrypted-pin-transfer) to read about encrypted PIN transfers."
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: "The request parameters for resubmitting a transaction"
              $ref: '#/components/schemas/ResubmitRequest'
        required: true
      responses:
        '200':
          description: Transaction resubmitted successfully.
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    default: true
                  result:
                    $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
[...]
